<div class="container-fluid">
  <nav class="navbar" style="background-color: #e3f2fd;">
    <a class="navbar-brand fw-bold mb-2 h1 " href="#">Registration Form</a>
  </nav>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstName" required [(ngModel)]="user.firstName">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" name="lastName" required [(ngModel)]="user.lastName">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="user.email">
        </div>
        <div class="form-group">
          <label for="mobile">Mobile Number</label>
          <input type="tel" class="form-control" id="mobile" name="mobile" required [(ngModel)]="user.mobile">
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <textarea class="form-control" id="address" name="address" rows="4" required
            [(ngModel)]="user.address"></textarea>
        </div><br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<app-user-list *ngIf="submitted" [registeredUsers]="registeredUsers"></app-user-list>

<div class="container-fluid">
  <footer class=" text-center text-lg-start" style="background-color: #e3f2fd">
    <div class="text-center p-3">
      <span class="text-muted fw-bold mb-2 ">© 2023 Registration Form App</span>
    </div>
  </footer>
</div>
